* {
    padding: 0;
    margin: 0;
}

.canvas-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.sidebar {
    flex: 1;
}

.controls {
    width: inherit;
    color: #444;
    width: 100%;
    border-bottom: .1em solid hsla(0, 0%, 60%, .2);
    max-height: 100vh;
    overflow: auto;
}

.title {
    position: sticky;
    top: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 18px;
    background-color: black;
    width: 100%;
    cursor: pointer;
}

.w-400 {
    flex: inherit;
    width: 400px;
    display: flex;
    align-items: center;
}

.btn {
    color: #444;
    height: 140px;
    border: none;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.category {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #141518;
    color: #444;
    width: 100px;
    justify-content: space-around;
}

.category h1 {
    transform: rotate(270deg);
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

.colors {
    display: flex;
    flex-direction: column;
}

.overflow-hidden {
    max-height: 100vh;
    min-height: 100vh;
    background-color: black;
    overflow: auto;
    width: inherit;
}

::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.img {
    width: 200px;
}

.h-350 {
    height: 240px;
}